.completed {
  $completed-task-color: #808080;
  text-decoration: line-through;
  color: $completed-task-color;
}

#error {
  color: #ff6b18;
  font-size: 16px;
  margin-left: 10px;
}

.task-list {
  list-style: none;
  padding-left: 10px;

  & > .task-item{
    margin: 10px;
  }
}