<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>ToDoリスト</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="container">
    <h1>ToDoリスト</h1>

    <form id="addTask" class="form-inline">
        <input type="text" class="form-control" id="title">
        <input type="submit" class="btn btn-primary" value="追加">
        <span id="error"></span>
    </form>

    <div id="tasks">
    </div>

    <p>残りのタスク数: <span id="rest-count"></span> / <span id="all-count"></span> </p>
</div>
<script type="text/template" id="task-template">
    <input type="checkbox" class="toggle" <%= completed ? 'checked': '' %> >
    <span class="<%= completed ? 'completed' : '' %>"><%- title %></span>
    <span class="delete">[x]</span>
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="vendor/underscore.js"></script>
<script src="vendor/jquery.js"></script>
<script src="vendor/backbone.js"></script>
<script src="vendor/backbone.js"></script>
<script src="js/app.js"></script>
</body>
</html>